
<div id="about">
	<div class="row">
		
		<div class="col-xs-12 col-sm-12 col-md-7">
			<h2>Erik "Rocco" Hendricks</h2>
			<p>So... there couldn't be too many photos or too many quotes, memories, videos, etc.! Go nuts here. I am sure Thomas can build out a gallery with the photos/content you've given him, and then probably give you the keys to the castle with a little training and you can continue to build it out from there. </p>
			<p>So... there couldn't be too many photos or too many quotes, memories, videos, etc.! Go nuts here. I am sure Thomas can build out a gallery with the photos/content you've given him, and then probably give you the keys to the castle with a little training and you can continue to build it out from there. </p>
		</div>

		<div id="youtube" class="col-xs-12 col-sm-12 col-md-5">

			<iframe width="450" height="290" src="https://www.youtube.com/embed/9YCUwokINtc" frameborder="0" allowfullscreen></iframe>
			
		</div>
	</div>

	

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="Collage">
				<img src="<%= asset_path 'erik_laugh.jpg'%>" width="180" height="320"><img src="<%= asset_path 'family2.jpg'%>" width="320" height="240"><img src="<%= asset_path 'family.jpg'%>" width="235" height="320"><img src="<%= asset_path 'yellow_hat.jpg'%>" width="267" height="320"><img src="<%= asset_path 'IMG_0109.jpg'%>" width="320" height="212"><img src="<%= asset_path 'IMG_0257.jpg'%>" width="240" height="320"><img src="<%= asset_path 'IMG_1390.jpg'%>" width="320" height="320"><img src="<%= asset_path 'IMG_222.jpg'%>" width="208" height="320"><img src="<%= asset_path 'IMG_2243.jpg'%>" width="320" height="240"><img src="<%= asset_path 'IMG_333.jpg'%>" width="320" height="306"><img src="<%= asset_path 'IMG_444.jpg'%>" width="320" height="180"><img src="<%= asset_path 'IMG_555.jpg'%>" width="320" height="193"><img src="<%= asset_path 'P8210246.jpg'%>" width="320" height="240"><img src="<%= asset_path 'P9040713.jpg'%>" width="320" height="240">
			
			</div>
		</div>
	</div>

</div>

<script type="text/javascript">
	
	$(document).ready(function(){
    collage();
   
	});

</script>
