
<div id="about">
	<div class="row">
		
		<div class="col-xs-12 col-sm-12 col-md-12">
			<h2 class="page-header">Erik "Rocco" Hendricks</h2>
		</div>

	</div>
	<div class="row">

		<div class="col-xs-12 col-sm-12 col-md-7">	
			<p>Erik Hendricks was an incredible husband, father and friend whose passion for living a full and happy life, filled with generosity, love and most importantly, laughter, was an example to all. Erik dedicated his life to working for and with non-profit organizations. He was the longtime executive director of the Pennsylvania SPCA. His tenure with the animal welfare group ran from 1976 to 2007. He helped create and implement some of the signature programs and services the PSPCA offers. He advocated at the state level for stricter laws to protect animals from cruelty and abuse and spent 27 years as Executive Director. He was credited with transforming the organization from an animal shelter to a modern animal welfare institution, with programs and departments focused on the animals' health and well-being. After retiring, he volunteered for Meals on Wheels and served for two years as president of the board. He also volunteered for Eldernet, transporting senior citizens on errands and to the doctor. </p>
			<p>Erik Hendricks was the son of the late Denis Hendricks and Tina Appleton Hendricks Bishop. In 1980 he married the love of his life and best friend, Alice Haynsworth Hendricks. In 1982, their first daughter, Stephanie was born. Katie arrived 2.5 years later in May of 1985 to round out the trio of “his girls” as Erik affectionately referred to Alice, Stephie and Katie. </p>
			<p>Erik‘s favorite place on earth was the Adirondacks, where the family would spend two weeks every summer waterskiing, playing cards and tennis, and taking in the sunsets, which Erik especially enjoyed. He loved nothing more than to be out on the lake in his boat, Kiwi, surrounded by family and friends, laughing. Erik <span style="font-style: italic;text-decoration: underline;font-weight:bold;">loved</span> to laugh.</p>
			<p>Erik's love, energy, positivity and humor were unique and his passion for life, unmatched. He truly lived every day to the fullest. He had the patience of a saint and was the rock for Alice, Stephie and Katie. On January 30, 2015, Erik lost his over 20 year battle with Hairy Cell Leukemia, with “his girls” by his side. He was 72 years old. </p>
		</div>

		<div id="youtube" class="col-xs-12 col-sm-12 col-md-5">

			<iframe width="450" height="290" src="https://www.youtube.com/embed/9YCUwokINtc" frameborder="0" allowfullscreen></iframe>
			
		</div>
	</div>

	

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="Collage">
				<img src="<%= asset_path 'erik_laugh.jpg'%>" width="180" height="320"><img src="<%= asset_path 'family2.jpg'%>" width="320" height="240"><img src="<%= asset_path 'family.jpg'%>" width="235" height="320"><img src="<%= asset_path 'yellow_hat.jpg'%>" width="267" height="320"><img src="<%= asset_path 'IMG_0109.jpg'%>" width="320" height="212"><img src="<%= asset_path 'IMG_0257.jpg'%>" width="240" height="320"><img src="<%= asset_path 'IMG_1390.jpg'%>" width="320" height="320"><img src="<%= asset_path 'IMG_222.jpg'%>" width="208" height="320"><img src="<%= asset_path 'IMG_2243.jpg'%>" width="320" height="240"><img src="<%= asset_path 'IMG_333.jpg'%>" width="320" height="306"><img src="<%= asset_path 'IMG_444.jpg'%>" width="320" height="180"><img src="<%= asset_path 'IMG_555.jpg'%>" width="320" height="193"><img src="<%= asset_path 'P8210246.jpg'%>" width="320" height="240"><img src="<%= asset_path 'P9040713.jpg'%>" width="320" height="240">
			
			</div>
		</div>
	</div>

</div>

<script type="text/javascript">
	
	$(document).ready(function(){
    collage();
   
	});

</script>
