
<div id="about">
	<div class="row">
		
		<div class="col-xs-12 col-sm-12 col-md-12">
			<h2>Erik "Rocco" Hendricks</h2>
		</div>

	</div>
	<div class="row">

		<div class="col-xs-12 col-sm-12 col-md-7">	
			<p>The Erik Hendricks Memorial Foundation honors Erik Hendricks, who dedicated his life to working for and with non-profit organizations.  Erik Hendricks was the longtime executive director of the Pennsylvania SPCA. His tenure with the animal welfare group ran from 1976 to 2007.  He helped create and implement some of the signature programs and services the PSPCA offers.  He advocated at the state level for stricter laws to protect animals from cruelty and abuse and spent 27 years as executive director. He was credited with transforming the organization from an animal shelter to a modern animal welfare institution, with programs and departments focused on the animals' health and well-being.  After retiring, he volunteered for Meals on Wheels and served for two years as president of the board.  He also volunteered for Eldernet, transporting senior citizens on errands and to the doctor.  To keep Erik's memory alive, we will raise money through events and charity drives to continue to support the organizations that were part of his life.  In addition to the non-profit organizations he supported, funds raised will also be distributed to Hairy Cell Leukemia research.</p>
			<p>Erik Hendricks was the son of Denis Hendricks and Tina Appleton Hendricks Bishop.  He married Alice Haynsworth Hendricks in 1980.  In 1982, Erik's first daughter, Stephanie was born.  Katie arrive 2.5 years later in May of 1985. They moved from downtown Philadelphia to Haverford, PA in 1989. Stephanie and Katie attended The Shipley School, their grandmother Tina's alma mater, in Bryn Mawr, PA.  Erik, Alice and the girls spend two weeks every summer up in the Adirondacks.  The Adirondacks is a very special place for the Hendricks family.  The girls learned how to water ski and play pitch in the Adirondacks.  Erik's favorite place was out on the water in his boat Kiwi surrounded by family and friends.</p>
			<p>Erik's love, energy, positivity and humor were unique and his passion for life, unmatched.  He truly lived every day to the fullest.  He has the patience of a saint and was the rock for Alice, Stephie and Katie.</p>
		</div>

		<div id="youtube" class="col-xs-12 col-sm-12 col-md-5">

			<iframe width="450" height="290" src="https://www.youtube.com/embed/9YCUwokINtc" frameborder="0" allowfullscreen></iframe>
			
		</div>
	</div>

	

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="Collage">
				<img src="<%= asset_path 'erik_laugh.jpg'%>" width="180" height="320"><img src="<%= asset_path 'family2.jpg'%>" width="320" height="240"><img src="<%= asset_path 'family.jpg'%>" width="235" height="320"><img src="<%= asset_path 'yellow_hat.jpg'%>" width="267" height="320"><img src="<%= asset_path 'IMG_0109.jpg'%>" width="320" height="212"><img src="<%= asset_path 'IMG_0257.jpg'%>" width="240" height="320"><img src="<%= asset_path 'IMG_1390.jpg'%>" width="320" height="320"><img src="<%= asset_path 'IMG_222.jpg'%>" width="208" height="320"><img src="<%= asset_path 'IMG_2243.jpg'%>" width="320" height="240"><img src="<%= asset_path 'IMG_333.jpg'%>" width="320" height="306"><img src="<%= asset_path 'IMG_444.jpg'%>" width="320" height="180"><img src="<%= asset_path 'IMG_555.jpg'%>" width="320" height="193"><img src="<%= asset_path 'P8210246.jpg'%>" width="320" height="240"><img src="<%= asset_path 'P9040713.jpg'%>" width="320" height="240">
			
			</div>
		</div>
	</div>

</div>

<script type="text/javascript">
	
	$(document).ready(function(){
    collage();
   
	});

</script>
