<div id="events">
	<div class="row">
		
		<div class="col-xs-12 col-sm-12 col-md-12">
			<h2 class="page-header">Upcoming Events</h2>
			<p>Sports were an important part of Erik’s life and getting back to playing squash, tennis, and golf with “his girls” and buddies was something that drove him to battle harder with each relapse of HCL. Given his love for sports, the Erik Hendricks Memorial Foundation has established the following annual events to raise funds for the foundation, celebrate the life of Erik Hendricks, and – as Erik would insist – have fun!</p>
		</div>

	</div>
	<div class="row">
	
		<div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-4 box box-color">	
			<h3>1st Annual Rocco’s Racquets: Squash</h3>
			<h4>When: November 2015</h4>
			<h4>Where: Philadelphia Country Club</h4>
			<p>We will hold a squash round robin and mixer in November 2015 to kick-off the squash season and play squash the way Erik loved: with a lot of socializing and gabbing throughout the points. There will be singles and doubles matches through the day Saturday followed by a mixer that night. More details and a date for the event, coming soon!</p>
			<span><a href="<%= contact_path %>">Contact us</a> for additional information.</span>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-1 box other-box-color">	

		</div>

		<div class="col-xs-12 col-sm-12 col-md-4 box box-color">	
			<h3>1st Annual Rocco’s Racquets: Tennis</h3>
			<h4>When: Spring 2016</h4>
			<h4>Where: Philadelphia Country Club</h4>
			<p>Tennis round robin and mixer – more details to come!</p>
			<span><a href="<%= contact_path %>">Contact us</a> for additional information.</span>
			
		</div>

	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<h2 class="page-header">1st Annual Rocco's Round!</h2>
			<a href="<%= asset_path 'summer-1.jpg'%>" data-lightbox="roadtrip"><img src="<%= asset_path 'summer-1.jpg'%>" alt=""></a>
			<a href="<%= asset_path 'summer-2.jpg'%>" data-lightbox="roadtrip"><img src="<%= asset_path 'summer-2.jpg'%>" alt=""></a>
			<a href="<%= asset_path 'summer-3.jpg'%>" data-lightbox="roadtrip"><img src="<%= asset_path 'summer-3.jpg'%>" alt=""></a>
		</div>
	</div>

</div>


<script type="text/javascript">
	
	$(document).ready(function(){
    collage();
   
	});

</script>



