<div id="events">
	<div class="row">

		<div class="col-xs-12 col-sm-12 col-md-12">
			<h2 class="page-header">Fall 2016 Events</h2>
			<p>Because no one loved getting together with family and friends for some friendly competition (and some good-natured teasing) more than Erik, The Erik Hendricks Memorial Foundation has established the following annual events to bring people together, raise funds for the foundation, and – as Erik would insist – have fun! If you have any feedback on past events or suggestions for future events, we’d love to hear from you! </p>
		</div>

	</div>
	<div class="row">

		<div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-4 box box-color">
			<h3>Bocce</h3>
			<h4>When: Early Fall 2016</h4>
			<h4>Where: TBD</h4>
			<p>Details coming soon, for more information, please email <a href="mailto:ehmemorialfoundation@gmail.com">ehmemorialfoundation@gmail.com</a></p>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-1 box other-box-color">

		</div>

		<div class="col-xs-12 col-sm-12 col-md-4 box box-color">
			<h3>Trivia Night</h3>
			<h4>When: November 2016</h4>
			<h4>Where: Philadelphia</h4>
			<p>Details coming soon, for more information, please email <a href="mailto:ehmemorialfoundation@gmail.com">ehmemorialfoundation@gmail.com</a></p>
		</div>

	</div>
	<div class="row">
		<h2 class="page-header">Previous Events</h2>
		<div class="col-xs-12 col-sm-6 col-md-6">
			<a href="<%= asset_path 'summer-5.jpg'%>" data-lightbox="roadtrip"><img src="<%= asset_path 'summer-5.jpg'%>" alt=""></a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6">
			<a href="<%= asset_path 'summer-3.jpg'%>" data-lightbox="roadtrip"><img src="<%= asset_path 'summer-3.jpg'%>" alt=""></a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-4">
			<a href="<%= asset_path 'summer-2.jpg'%>" data-lightbox="roadtrip"><img src="<%= asset_path 'summer-2.jpg'%>" alt=""></a>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4">
			<a href="<%= asset_path 'summer-4.jpg'%>" data-lightbox="roadtrip"><img src="<%= asset_path 'summer-4.jpg'%>" alt=""></a>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4">
			<a href="<%= asset_path 'summer-1.jpg'%>" data-lightbox="roadtrip"><img src="<%= asset_path 'summer-1.jpg'%>" alt=""></a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-4">
			<a href="<%= asset_path 'bocce3.jpg'%>" data-lightbox="roadtrip"><img src="<%= asset_path 'bocce3.jpg'%>" alt=""></a>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4">
			<a href="<%= asset_path 'bocce4.jpg'%>" data-lightbox="roadtrip"><img src="<%= asset_path 'bocce4.jpg'%>" alt=""></a>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4">
			<a href="<%= asset_path 'bocce5.jpg'%>" data-lightbox="roadtrip"><img src="<%= asset_path 'bocce5.jpg'%>" alt=""></a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6">
			<a href="<%= asset_path 'bocce1.jpg'%>" data-lightbox="roadtrip"><img src="<%= asset_path 'bocce1.jpg'%>" alt=""></a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6">
			<a href="<%= asset_path 'bocce2.jpg'%>" data-lightbox="roadtrip"><img src="<%= asset_path 'bocce2.jpg'%>" alt=""></a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-4">
			<a href="<%= asset_path 'bocce5.jpg'%>" data-lightbox="roadtrip"><img src="<%= asset_path 'bocce5.jpg'%>" alt=""></a>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4">
			<a href="<%= asset_path 'bocce6.jpg'%>" data-lightbox="roadtrip"><img src="<%= asset_path 'bocce6.jpg'%>" alt=""></a>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4">
			<a href="<%= asset_path 'spin.jpg'%>" data-lightbox="roadtrip"><img src="<%= asset_path 'spin.jpg'%>" alt=""></a>
		</div>
	</div>

</div>


<script type="text/javascript">

	$(document).ready(function(){
    collage();

	});

</script>



