<div id="hcl">
	<div class="row">
		
		<div class="col-xs-12 col-sm-12 col-md-12">
			<h2 class="page-header">Erik Hendricks Memorial Foundation</h2>
		</div>

	</div>
	<div class="row hcl-info">

		<div class="col-xs-12 col-sm-12 col-md-9">	
			<p style="padding-top:20px;">The Erik Hendricks Memorial Foundation, a 501(c)(3) tax-exempt organization, was established in April 2015 to honor the memory of Erik Hendricks, who valiantly battled Hairy Cell Leukemia (HCL) for more than 20 years, and ultimately lost his life to the disease. After multiple relapses, the treatment options were scarce. As HCL is a very rare form of leukemia, research into the causes and additional treatment options are extremely underfunded.</p>	
			<!-- <p style="padding-top:20px;">Erik Hendricks battled Hairy Cell Leukemia (HCL) for more than 20 years, and ultimately lost his life to the disease. The Erik Hendricks Memorial Foundation, a 501(c)(3) tax-exempt organization, was established in April 2015 to honor the memory of Erik Hendricks and ensure that his legacy lives on for years to come. Erik battled HCL valiantly for many years, but after multiple relapses, the treatment options were scarce. As HCL is a very rare form of leukemia, research into the causes and additional treatment options are extremely underfunded. The Erik Hendricks Memorial Foundation seeks to bring awareness to and raise much-needed funding for HCL research, clinical trials and patient support. The Hairy Cell Leukemia Foundation is currently conducting a fundraising campaign to meet a $1 million fundraising challenge match. The funds raised through the Erik Hendricks Memorial Foundation will be donated to this campaign - so your gift or your participation in a fundraising event - will be doubled in its impact on the fight against this disease. </p> -->
			<p style="font-weight: bold; font-size: 16px; font-style: italic;">Your gift to the Erik Hendricks Memorial Foundation will honor the legacy of Erik Hendricks by advancing research and patient support focused on Hairy Cell Leukemia. Thank you for honoring the legacy of a great man, and impacting the lives of thousands of patients like him. </p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-3" style="border-left:1px solid black;">
			<h4>About Our Logo:</h4>
			<p>The Triskele, also known as the triple spiral, is the Celtic symbol for life. The symbol is a nod to Erik Hendricks’ Irish heritage and the foundation’s mission of improving the lives of those fighting HCL by raising funds to advance research into the disease. Additionally, the colors yellow and navy were Erik’s favorite colors. He was almost guaranteed to be dressed in one or both of those colors, or in head-to-toe yellow, earning him the nickname Yellow Bird.</p>
			<img class="" src="<%= asset_path 'EHMF_Logo_tester.svg'%>" alt="">
		</div>

	</div>
	<div class="row hcl-info">
		
		<div class="col-xs-12 col-sm-12 col-md-12">
			<h3 class="page-header">Board of Directors</h3>
		</div>

	</div>
	<div class="row the-board">
		
		<div class="col-xs-12 col-sm-3 col-md-3 text-center">
			<img class="" src="<%= asset_path 'headshot-stephanie.png'%>" alt="">
		</div>
		<div class="col-xs-12 col-sm-8 col-md-8">
			<h4>Stephanie H. Hendricks – President, Co-Founder</h4>
			<p>Stephanie is the VP of Business Development for a Boston-based technology startup.  She was previously the Director of Strategic Accounts for a small technology firm in the energy industry.</p>
			<p>Stephanie has been involved with non-profits her entire life starting when she formed the “Animal Club,” at the age of 10.  She serves on committees in Boston for Urban Improv and Urban Mentoring, and has been a mentor in the program.</p>
			<p>She co-founded The Erik Hendricks Memorial Foundation with her sister, Katie, to honor the life of her father, Erik Hendricks.</p>
		</div>

	</div>
	<div class="row the-board">
		
		<div class="col-xs-12 col-sm-3 col-md-3 text-center">
			<img class="" src="<%= asset_path 'headshot-katie.jpg'%>" alt="">
		</div>
		<div class="col-xs-12 col-sm-8 col-md-8">
			<h4>Katherine (Katie) Hendricks – Secretary, Co-Founder</h4>
			<p>Katie Hendricks is currently a Director at Pathlight Capital, a commercial finance company based in Boston that specializes in providing loans to companies in the consumer and retail sector.</p>
			<p>For many years, Katie volunteered as a teacher for Citizen Schools, a non-profit that partners with public middle schools in low-income communities to provide an expanded learning day. Katie, along with two other friends, taught an apprenticeship program on entrepreneurship where the kids would learn firsthand what it takes to be an entrepreneur by starting their own business selling a product they would create.</p>
			<p>Along with her sister, Stephanie, Katie co-founded The Erik Hendricks Memorial Foundation to honor her father who spent his entire life giving back to others.</p>
		</div>

	</div>
	<div class="row the-board">
		
		<div class="col-xs-12 col-sm-3 col-md-3 text-center">
			<img class="" src="<%= asset_path 'headshot-patricia.png'%>" alt="">
		</div>
		<div class="col-xs-12 col-sm-8 col-md-8">
			<h4>Patricia (Patsy) Porter – Treasurer</h4>
			<p>Patsy Porter is currently the Director of Planned Giving at The Episcopal Academy in Newtown Square, PA, but has a long history with non-profits and volunteer work. After working as an account manager in advertising in New York, Patsy and her family relocated to the Philadelphia area where she became involved in the Annenberg Center for the Performing Arts. She also volunteered for her children's schools and became the President of the Parents Association of The Episcopal Academy and served for eight years on their Board of Trustees. She played an integral part in the historic move of the entire school to its new campus in Newtown Square. Patsy was President of the Burn Foundation, a non-profit focused on burn prevention awareness and support for burn survivors and the four regional burn centers in the Philadelphia region, from 2007-2013. She is a long-time friend of the Hendricks family.</p>
		</div>

	</div>
	<div class="row the-board">
		
		<div class="col-xs-12 col-sm-3 col-md-3 text-center">
			<img class="" src="<%= asset_path 'headshot-no-pic.png'%>" alt="">
		</div>
		<div class="col-xs-12 col-sm-8 col-md-8">
			<h4>Michael R. Craven – Governor</h4>
			<p>Mike is a media, entertainment and marketing executive with over 35 year’s of operational, ownership, and consulting experience in the field of communications, to include broadcasting, print and the internet.</p>
			<p>Currently, Mr. Craven is Co-Chief Executive officer of Craven-Thompson Communications (C.T.C.), a company he founded in 1997 with partner James B. Thompson. C.T.C. operates as a consulting group dedicated to assisting under-performing strategic opportunities in the communications industry through the process of financial, managerial and operational restructuring.</p>
		</div>

	</div>
	<div class="row the-board">
		
		<div class="col-xs-12 col-sm-3 col-md-3 text-center">
			<img class="" src="<%= asset_path 'headshot-pam.png'%>" alt="">
		</div>
		<div class="col-xs-12 col-sm-8 col-md-8">
			<h4>Pamela (Pam) Russell, MD – Governor</h4>
			<p>Pam received her MD from the University of Pennsylvania School of medicine in 1981.  Her residency in Pediatrics and Fellowship in neonatal-Perinatal Medicine were completed in 1987.  Pam is currently a neonatologist providing patient care in the neonatal Intensive care unit.</p>
			<p>She serves as a neonatologist for the Children's Hospital of Philadelphia and is the Director of Physician Assistant Residency Program and education for front line care providers. </p>
		</div>

	</div>
</div>








