<!DOCTYPE html>
<html>
<head>
  <title>Erik Hendricks Memorial Foundation</title>
  <%= favicon_link_tag 'favicon-96x96.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
  <script src="//use.typekit.net/fib6nwu.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
</head>
<body>
 			
  <nav id="main-nav" class="navbar navbar-default navbar-fixed-top">
  	<div class="container">

  		<div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse-main">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand main-logo"><%= link_to image_tag('EHMF_Logo_tester.svg'), root_path %></a>

    	</div>

			<div class="collapse navbar-collapse" id="nav-collapse-main">
	      <ul class="pad nav navbar-nav navbar-right">
	      	<li><%= link_to "HOME", root_path %></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ABOUT <span class="caret"></span></a>
	          <ul id="dropdown-menu" class="dropdown-menu">
	            <li><%= link_to "THE FOUNDATION", foundation_path %></li>
	            <li role="separator" class="divider"></li>
	            <li><%= link_to "HAIRY CELL LEUKEMIA", hcl_path %></li>       
	            <li role="separator" class="divider"></li>
	            <li><%= link_to "ERIK HENDRICKS", about_path %></li> 	            
	          </ul>
	        </li>
	        <li><%= link_to "EVENTS", events_path %></li>
	        <li><%= link_to "CONTACT", contact_path %></li>
	      </ul>

    	</div><!-- /.navbar-collapse -->
    </div>    
  </nav>	

	

	<div class="container">
		<%= yield %>				
	</div>

	<footer id="footer-nav" class="footer">
		<div class="container-fluid">
			<div class="col-xs-4 col-sm-4 col-md-4 text-center">
				<p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> 617.548.2938</p>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 text-center">
				<%= link_to image_tag('EHMF_Logo_footer.svg'), contact_path %>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 text-center">
				<p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>ehmemorialfoundation@gmail.com</p>
			</div>
	  </div> 
  </footer>


	<script>
		$(window).scroll(function() {
		  if ($(document).scrollTop() > 50) {
		    $('nav').addClass('shrink');
		  } else {
		    $('nav').removeClass('shrink');
		  }
		});
	</script>
</body>
</html>
