<!DOCTYPE html>
<html>
<head>
  <title>Erik Hendricks Memorial Foundation</title>
  <%= favicon_link_tag 'favicon-96x96.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
  <script src="//use.typekit.net/fib6nwu.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
</head>
<body>
 			
  <nav id="main-nav" class="navbar navbar-default navbar-fixed-top">
  	<div class="container">

  		<div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse-main">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a id="nav-logo" class="navbar-brand"><%= link_to image_tag('EHMF_Logo_tester.svg'), root_path %></a>

    	</div>

			<div class="collapse navbar-collapse" id="nav-collapse-main">
	      <ul id="top-nav" class="nav navbar-nav navbar-right">
	      	<li><%= link_to "HOME", root_path %></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ABOUT <span class="caret"></span></a>
	          <ul id="dropdown-menu" class="dropdown-menu">
	            <li><%= link_to "THE FOUNDATION", foundation_path %></li>
	            <li role="separator" class="divider"></li>
	            <li><%= link_to "HAIRY CELL LEUKEMIA", hcl_path %></li>       
	            <li role="separator" class="divider"></li>
	            <li><%= link_to "ERIK HENDRICKS", about_path %></li> 	            
	          </ul>
	        </li>
	        <li><%= link_to "EVENTS", events_path %></li>
	        <li><%= link_to "CONTACT", contact_path %></li>
					<li id="nav-donate"><%= link_to image_tag('Donate_now.png'), donate_path %></li>
	      </ul>

    	</div><!-- /.navbar-collapse -->
    </div>    
  </nav>	

	
	<div>
		<img style="transform: rotate(135deg);" class="stripe" src="<%= asset_path 'yellow-stripe-borders.svg'%>" alt="">
		<div class="container">
			<%= yield %>				
		</div>
	</div>

	<footer id="footer-nav" class="footer">
		<div class="container-fluid">
			<div class="row">

				<div class="col-xs-12 col-sm-3 col-md-3 text-center foot">Erik Hendricks Memorial Foundation is a 501(c)(3)</div>
				<div class="col-xs-12 col-sm-2 col-md-1 text-center foot">&copy;2015</div>
				<div class="col-xs-12 col-sm-4 col-md-4 text-center"><%= link_to image_tag('EHMF_Logo_footer.svg'), contact_path %></div>
				<div class="col-xs-12 col-sm-1 col-md-1 text-center foot">617.548.2938</div>
				<div class="col-xs-12 col-sm-3 col-md-3 text-center foot"><%= mail_to "ehmemorialfoundation@gmail.com", "ehmemorialfoundation@gmail.com", subject: "Contact Us - Erik Hendricks Memorial Foundation" %></div>

			</div>
	  </div> 
  </footer>


	<script>
		$(window).scroll(function() {
		  if ($(document).scrollTop() > 50) {
		    $('nav').addClass('shrink');
		    $('#top-nav').addClass('shrink-nav');
		    $('#nav-donate').addClass('shrink');
		    $('#dropdown-menu').addClass('shrink-nav');
		  } else {
		    $('nav').removeClass('shrink');
		    $('#top-nav').removeClass('shrink-nav');
		    $('#nav-donate').removeClass('shrink');
		    $('#dropdown-menu').removeClass('shrink-nav');
		  }
		});
	</script>
</body>
</html>
